<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEU-COVID19 Help</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-2">
        <a class="navbar-brand" href="#"><img class="img-fluid img-gallery img" width="275px" src="img/logo.jpeg" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mr-5">
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#gallery">Gallery</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item mx-2">
                <a class="btn btn-outline-success my-sm-0 donate-btn">Donate</a>    
            </li>
          </ul>
        </div>
      </nav>





      <!-- LIGHTBOX GALLEREY -->
      <div class="container">
        <div class="container-fluid">
            <div class="row"> 
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <img src="https://www.w3schools.com/w3images/wedding.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/rocks.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/falls2.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/paris.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/nature.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/mist.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/paris.jpg"  class="img-fluid img-gallery">
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <img src="https://www.w3schools.com/w3images/underwater.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/ocean.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/wedding.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/mountainskies.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/rocks.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/underwater.jpg"  class="img-fluid img-gallery">
              </div>  
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <img src="https://www.w3schools.com/w3images/wedding.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/rocks.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/falls2.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/paris.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/nature.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/mist.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/paris.jpg"  class="img-fluid img-gallery">
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <img src="https://www.w3schools.com/w3images/underwater.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/ocean.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/wedding.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/mountainskies.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/rocks.jpg"  class="img-fluid img-gallery">
                <img src="https://www.w3schools.com/w3images/underwater.jpg"  class="img-fluid img-gallery">
              </div>
            </div>
            </div>
      </div>
    
      <!-- LIGHTBOX GALLERY ENDS -->



      <!--MESSAGE SECTION STARTS -->
      <section id="message" class="mt-5">
        <div class="container">
            <h3 class="display-3">Listen what we have to say</h3>
            <div class="row">
                <div class="col-6">
                    <img class="img img-fluid" src="https://images.unsplash.com/photo-1519340241574-2cec6aef0c01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80">
                </div>
                <div class="col-6">
                    <p class="lead">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus nobis recusandae sequi unde vitae amet, rem eos odit veritatis mollitia tenetur aliquam dolor earum officiis, voluptas sint pariatur, modi illo iusto non. Nisi quae, soluta blanditiis aut modi dolorem veniam fugit ab adipisci rerum quibusdam animi, assumenda incidunt repudiandae vitae!
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat amet laborum, iusto rerum quod ipsum nesciunt saepe quos veritatis modi delectus molestias dolorem officiis incidunt officia! Soluta quibusdam animi cupiditate adipisci debitis dolores, officiis ab! Sapiente ea, non quae magni corporis ducimus iste, accusamus consectetur provident sequi exercitationem minus doloribus.
                    </p>
                </div>
            </div>
        </div>
      </section>
      <!--MESSAGE SECTION ENDS  -->




      <!-- FOOTER STARTS-->
      <section id="footer" class="mt-3 py-3 bg-dark text-white text-center">
        Footer will come here
      </section>
      <!-- FOOTER ENDS HERE -->



</body>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="js/payment.js"></script>
</html>