<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEU-COVID19 Help</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-2">
        <a class="navbar-brand" href="#"><img class="img-fluid img" width="275px" src="img/logo.jpeg" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mr-5">
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#gallery">Gallery</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item mx-2">
                <a class="btn btn-outline-success my-sm-0 donate-btn">Donate</a>    
            </li>
          </ul>
        </div>
      </nav>



      <!-- HEADER SECTION STARTS -->
      <section id="home">
          <div class="container-fluid hero-container">
              <div class="hero-section-content p-0">
                  <div class="small-header">Amid Corona Virus Pandemic</div>
                  <div class="large-header">
                      Help India When It<br>
                      Needs You
                   </div>
                   <div class="button-header">
                       <a href="#contact" class="btn donate-header-btn">Donate Now</a>
                   </div>
                  
              </div>
          </div>
      </section>
      <!-- HEADER SECTION ENDS -->

      <!-- CONTACT SECTION START -->
      <section id="contact" class="mt-5">
          <div class="container">
              <h3 class="display-3">Contact Info</h3>
              <div class="contact-info-div">
                  <div class="row">
                      <div class="col-10 contact-info">
                        <span class="label mr-2">Account No :</span>
                        <span class="value">UBI-4003830171874018</span>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- CONTACT SECTION ENDS -->

      <div class="container">
        <a href="/gallery" class="follow-gallery">
            <h2 class="display-4">Follow how we are helping</h2>
        </a>  
      </div>




      <!-- FOOTER STARTS-->
      <section id="footer" class="mt-3 py-3 bg-dark text-white text-center">
        Footer will come here
      </section>
      <!-- FOOTER ENDS HERE -->



</body>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js.map" integrity="undefined" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js.map" integrity="undefined" crossorigin="anonymous"></script>
<script src="js/payment.js"></script>
</html>